---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>¡Gracias por tu mensaje!</h1>
  <p>Hemos recibido tu solicitud correctamente. En breve nos pondremos en contacto contigo.</p>
  <p><a href="/">⬅️ Volver a la página principal</a></p>
</Layout>
