<header>
  <div class="logo">
    <a href="/">Reformas Jose Sandu</a>
  </div>
  <nav>
    <a href="/">Inicio</a>
    <a href="/servicios">Servicios</a>
    <a href="/proyectos">Proyectos</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>