---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reformas Jose Sandu</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    min-height: 80vh;
    padding: 2rem 1rem;
  }
</style>

